/* inizio stile NavBar */
nav {
    background-color: rgb(50, 50, 50);
}
.navbar-brand {
    color: black;
    text-shadow: 0px 0px 5px rgb(97, 150, 255);
}
.nav-link {
    font-size: 18px;
    color: rgb(97, 150, 255);
}
#utilitysect {
    right: 120px;
    top: 16px;
}

/* stilizzo le icone della utility sect */
.bi-bell-fill {
    font-size: 20px;
    color: rgb(97, 150, 255);
    transition: 0.4s ease-in-out;
}
.bi-bell-fill:hover {
    text-shadow: 0px 0px 10px rgb(97, 150, 255);
}
.mycart {
    padding: 0;
}
.bi-cart {
    font-size: 20px;
    color: rgb(97, 150, 255);
    padding: 0;
}
.bi-cart:hover:before {
    content: "\f23d";
    text-shadow: 0px 0px 10px rgb(97, 150, 255);
    transition: 0.4s ease-in-out;

}
.bi-search::before {
    font-size: 18px;
    color: rgb(97, 150, 255);
}

/* impostazioni e animazione del pulsante search */
.search-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 4rem;
    align-items: center;
    justify-content: center;
    /* background: rgb(19, 19, 19); */
    /* border: 2px solid rgb(19, 19, 19); */
    outline: none;
    overflow: hidden;
    transition: 400ms ease-in-out;
    position: relative;
  }
  
  .activesrc {
    width: 300px;
  }
  .search-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-left: 40px;
    margin-right: 2px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    box-sizing: border-box;
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: rgb(19, 19, 19);
    margin-left: auto;
    z-index: 1;
  }
  .search-btn i {
    color: #fff;
    font-size: 16px;
  }


/* stilizzo l'immagine del profilo (che funge anche da dropdown btn) */
#accountsect{
    right: 30px;
    top: 2px;
}
.accountimg {
    width: 40px;
    border-radius: 20px;
    position: relative;
}
#accountsect img:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgb(97, 150, 255);
}

/* sposto il dropdown menu verso sinistra */
#accountdrop {
    background-color: rgb(65, 65, 65);
    left: -120px;
}

.dropdown-item:hover {
    background-color: rgb(97, 150, 255);
    transition: 0.4s ease-in-out;
}
/* fine stile della navbar */


/* inizia qui lo stile per il backoffice */
/* stilizzo il bottone del collapse contenente il form input */

.additemgroup {
    margin-top: 70px;
}

.colapse-btn {
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: greenyellow;
    transition: 0.4s ease-in-out;
}
.colapse-btn:hover {
    transform: scale(1.1);
    background-color: greenyellow;
    box-shadow: 0px 0px 10px rgb(0, 166, 255);
}
.bi-plus-lg::before {
    width: 30px;
    height: 21px;
    font-size: 20px;
    transition: 0.4s ease-in-out;
}
.bi-plus-lg {
    transition: 0.4s ease-in-out;
}
.bi-plus-lg:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 10px rgb(0, 166, 255)
}
.bi-dash {
    transition: 0.4s ease-in-out;
}
.bi-dash:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 10px rgb(0, 166, 255)
}


#createForm {
    transition: 0.4s ease-in-out;
}
/* stilizzo i campi di input di creazione oggetto */
#items-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: 0.4s ease-in-out;
   border: 0.5px solid black;
   border-radius: 15px;
   box-shadow: 2px 2px 5px black;
}
#items-form label {
    background-color: rgb(0, 166, 255); 
    border: 4px solid rgb(0, 166, 255);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
 }
#items-form input {
    width: 70%;
    height: 50px; 
    margin-bottom: 10px;
    border: 3px solid rgb(69, 69, 69);
    border-radius: 12px;
    transition: 0.5s ease-in-out;
}
#items-form input:hover {
    box-shadow: 0px 0px 10px black;
}
#events-message {
    font-size: 30px;
}

.submitbtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    transition: 0.5s ease-in-out;
}
.submitbtn:hover {
    transform: scale(1.07);
    font-weight: 600;
    box-shadow: 0px 0px 10px greenyellow;
}

#bo-list-items {
    padding: 30px;
}

/* stilizzo la card degli elementi creati */
.item-card {
    width: 95%;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.item-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px black;
}

/* stilizzo i 3 div all'interno di itemcard */
.item-title {
    display: flex;
    align-items: center;
}
.item-info {
    display: flex;
    align-items: center;
}
.item-btns {
    display: flex;
    align-items: center;
}
.item-title h6 {
    width: 120px;
}

/* stilizzo l'immagine dei prodotti */
.bo-itemimg {
    width: 40px;
    margin: 4px;
    border-radius: 8px;
}

.item-card p, h6 {
    margin-bottom: 0;
    margin-right: 10px;
}
/* stilizzo il bottone che apre il modale con la descrizione del prodotto */
.descr-btn{
    transition: 0.5s ease-in-out;
}
.descr-btn:hover {
    box-shadow: 0px 0px 10px black;
}
/* stilizzo i bottoni "modifica" e "elimina" */
.edit-btn {
    font-size: 12px;
    border: 1px solid rgb(0, 85, 255);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    margin-right: 8px;
}
.edit-btn:hover {
    color: white;
    background-color: rgb(0, 85, 255);
    box-shadow: 0px 0px 10px rgb(0, 85, 255);
    transform: scale(1.05);
    font-weight: 600;
}

.delete-btn {
    font-size: 12px;
    border: 1px solid red;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}
.delete-btn:hover {
    background-color: red;
    box-shadow: 0px 0px 10px red;
    transform: scale(1.05);
    font-weight: 600;
}
/* finisce qui lo stile del backoffice */


/* Inizia lo stile per la pagina Home */
.maintitle {
    margin-top: 70px;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(97, 150, 255);
    background-image: url(/Assets/background\ title.png);
    background-size: 200px;
    background-position: start;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    color: rgb(97, 150, 255);
    padding: 4px;
    background-color: black;
    border-radius: 20px;
    border: 2px solid rgb(97, 150, 255);
    box-shadow: 0px 0px 10px greenyellow;
}
.maintitle h1{
    font-size: 38px;
}
.maintitle h3{
    font-size: 26px;
}
.sectlist {
    margin-top: 20px;
    margin-bottom: 10px;
}
.products-card {
    background-color: rgb(50, 50, 50);
    max-width: 200px;
    height: 380px;
    border: 1px solid rgb(97, 150, 255);
    border-radius: 8px;
    transition: 0.4s ease-in-out;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
}
.products-card:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 10px rgb(0, 85, 255);
}
.product-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title h6{
    color: black;
    width: 199px;
    margin: 0;
    background-color: rgb(97, 150, 255);
}

.product-info p{
    color: white;
    margin-bottom: 0; 
    margin-top: 16px;
    text-align: center;
}

.itemimg {
    width: 199px;
    height: 199px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-btns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* fine stile pagina home */


/* stilizzo bottone carrello, carrello e i suoi elementi*/
.cart-btn {
    width: 60px;
    height: 30px;
    color: white;
    border: 1px solid greenyellow;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.cart-btn:hover {
    color: black;
    background-color: greenyellow;
    box-shadow: 0px 0px 10px rgb(97, 150, 255);
    transform: scale(1.05);
}
.cart-btn.active {
    color: black;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    box-shadow: 0px 0px 10px greenyellow;
}

.detl-btn {
    width: 80px;
    height: 30px;
    color: white;
    border: 1px solid rgb(97, 150, 255);
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.detl-btn:hover {
    color: black;
    background-color: rgb(97, 150, 255);
    box-shadow: 0px 0px 10px rgb(97, 150, 255);
    transform: scale(1.05);
}


.modal-content {
    background-color: rgb(50, 50, 50);
    box-shadow: 0px 0px 5px rgb(97, 150, 255);
}
.modal-header {
    color: rgb(97, 150, 255);
}
.btn-close {
    color: rgb(97, 150, 255);
}
.buyingcart , .closingcart , .eraseorder {
    font-size: 14px;
    background-color: rgb(30, 30, 30);
    color: rgb(97, 150, 255);
    transition: 0.3s ease-in-out;
}
.buyingcart:hover , .closingcart:hover , .eraseorder:hover {
    transform: scale(1.05);
    background-color: rgb(30, 30, 30);
    color: rgb(97, 150, 255);
    box-shadow: 0px 0px 10px rgb(97, 150, 255);
    text-shadow: 0px 0px 10px rgb(97, 150, 255);
}
#cart-totals {
    color: rgb(97, 150, 255);
    background-color: rgb(30, 30, 30);
    text-align: center;
}

/* stilizzo i prodotti nel carrello */
.cart-product-img {
    width: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cart-product-text {
    color: rgb(97, 150, 255);
    margin: 6px;
}

/* stilizzo la pagina detail */
.detailmain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#product-detail-container {
    width: 90%;
    height: 800px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(97, 150, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s ease-in-out;
}
#product-name {
    background-color: rgb(97, 150, 255);
    width: 100%;
    height: 50px;
    border-top-left-radius: 19px ;
    border-top-right-radius: 19px;
    transition: 0.5s ease-in-out;

}
#product-image {
    width: 495px;
    transition: 0.5s ease-in-out;

}
#product-description {
    font-size: 36px;
    transition: 0.5s ease-in-out;

}
#product-brand {
    font-size: 36px;
    transition: 0.5s ease-in-out;

}
#product-price {
    font-size: 36px;
    transition: 0.5s ease-in-out;

}













/* inizio media query */

/* riadatto la posizione degli elementi a destra della navbar alla comparsa dell'hamburger menu e ridimensiono la productcard */
@media screen and (max-width: 767px) {
    #utilitysect {
        right: 150px;
        top: 16px;
    }
    #accountsect{
        right: 70px;
        top: 0px;
    }
    #product-detail-container {
        width: 500px;
        height: 700px;;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 2px solid rgb(97, 150, 255);
        border-radius: 20px;
        box-shadow: 5px 5px 10px black;
    }
    #product-name {
        background-color: rgb(97, 150, 255);
        width: 499px;
        height: 50px;
        border-top-left-radius: 19px ;
        border-top-right-radius: 19px;
    }
    #product-image {
        width: 295px;
    }
    #product-description {
        font-size: 30px;
    }
    #product-brand {
        font-size: 30px;
    }
    #product-price {
        font-size: 30px;
    }
}

@media screen and (max-width: 520px) {
    #product-detail-container {
        width: 300px;
        height: 600px;;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 2px solid rgb(97, 150, 255);
        border-radius: 20px;
        box-shadow: 5px 5px 10px black;
    }
    #product-name {
        background-color: rgb(97, 150, 255);
        width: 299px;
        height: 50px;
        border-top-left-radius: 19px ;
        border-top-right-radius: 19px;
    }
    #product-image {
        width: 295px;
    }
    #product-description {
        font-size: 30px;
    }
    #product-brand {
        font-size: 30px;
    }
    #product-price {
        font-size: 30px;
    }
}

@media screen and (max-width: 475px) {
    .products-card {
        max-width: 150px;
        height: 380px;
        border: 1px solid rgb(97, 150, 255);
        border-radius: 8px;
        transition: 0.4s ease-in-out;
        box-shadow: 3px 3px 5px black;
        cursor: pointer;
    }
    .itemimg {
        width: 149px;
        height: 149px;
    }
    .product-title h6 {
        width: 149px;
    }
    .product-btns {
        flex-direction: column;
        align-items: center;
    }
    .cart-btn {
        margin-bottom: 10px;
    }
}